<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<remove name="WebDAVModule"/>
			</modules>
			<handlers>
				<remove name="WebDAV" />
				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
				<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\{projectSolution}.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<!-- Example: 
				http://example.com -> https://example.com
				-->
				<rule name="Redirect to HTTPS without www" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^OFF$" />
						<add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
					</conditions>
					<action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
				</rule>

				<!-- Example: 
				http://www.example.com -> https://example.com
				https://www.example.com -> https://example.com
				-->
				<rule name="Special case for HTTPS with www" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^ON$" />
						<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
					</conditions>
					<action type="Redirect" url="https://{C:2}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>